<nav class="navbar navbar-expand-md navbar-light bg-white border-bottom shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="/">Manager Tools</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/database/connect">Database</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/example">Example</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tools">Tools</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/locale"><i class="fa fa-globe mr-1" aria-hidden="true"></i> 中文(中国)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/locale"><i class="fa fa-question-circle mr-1" aria-hidden="true"></i> Help</a>
                </li>
            </ul>
        </div>
    </div>
</nav>